body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f1f1f1;
}

.image-container {
  position: relative;
  display: inline-block;
}

.background-image {
  display: block;
  width: 100%;
  max-width: 960px;
}

.iframe-form {
  display: block;
  width: 100%;
  min-width: 512px;
  min-height: 1100px;
}

.banner {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: 10;
}

.banner:hover {
  transform: translateX(-50%) scale(1.3);
}